/* sidebar please take only 20% screen */
.sidebar {
  flex: 0.2;
  text-decoration: none;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
